[Unit]
Description=Custom Login Script

[Service]
Type=simple
ExecStart="PATH TO PYTHON INTERPRETER" "PATH TO PYTHON SCRIPT"
Environment="PATH TO PYTHON PACKAGES"

[Install]
WantedBy=default.target
